<div align="center"><h1>Skaterbase</h1>

	<h2>The ultimate source for all things skateboarding</h2>

<p style="margin-bottom:200px;"></p>

<%= link_to 'New Skater', new_skater_path %>
	<%= link_to 'New Video', new_skate_video_path %>
	<%= link_to 'All Skaters', skaters_path %></div>