@import "bootstrap";

.right-nav {
	margin-top: 3px;
	margin-right: 20px;
}

.background {
	background-color: #E5E5E5;
	margin: 0 auto;
}

.content {
	margin: 0 auto;
	max-width: 1100px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 2px #BFBFBF;
	-moz-box-shadow: 0px 0px 5px 2px #BFBFBF;
	box-shadow: 0px 0px 5px 2px #BFBFBF;
}