<div align='center'><h1>New Skate Video</h1></div>
<div style="margin-left:15px;"><h3>Enter a new skate video below</h3>

	<%= render 'form' %>

</div>
<div align='center'><%= link_to 'Home', controller: 'welcome' %>
	<%= link_to 'New Skater', new_skater_path(@skater) %>
	<%= link_to 'All Skate Videos', skate_videos_path %></div>