<p><h2>
	<strong>Skate Video:</strong>
	<%= @skate_video.videoname %>
</h2></p>

<p>
	<strong>Year:</strong>
	<%= @skate_video.videoyear %>
</p>

<p>
	<strong>Company:</strong>
	<%= @skate_video.videocompany %>
</p>